@charset "UTF-8";

* { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;   
}

body{
    background-image: url(../midias/imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


main{
    height: 100vh;
    position: relative;
    background-color: #7fffd400;
}

#tel{
    background-color: rgba(0, 255, 255, 0);
    height: 700px;
    width: 400px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(../midias/imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tela{
    position: absolute;
    top: 115px;
    left: 67px;
    width: 267px;
    height: 470px;
}

#rs{
    text-align: right;
}

img {
    width: 50px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 2px 2px 7px black;
    box-sizing: border-box;
}


img:hover{
    border: 3px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 14px black;
    transition: 0.7s;
    
}

